{{define "footer"}}
</div>
</main>

<footer>
    <div class="text-bg-primary py-1 text-center">
        <p>&copy; 2024 <a href="https://github.com/HCH1212" class="text-reset">CloudWeGo</a></p>
    </div>
</footer>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
        integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script></body>
</html>
{{end}}